 body{
    background-color: azure;
    color: black;
}
.cabecalho{
    background: linear-gradient(to right, #D6FB61 30%, #fdfdfd 60%);
}
        .cabecalho img{
            text-align: center;
            width: 30%;
        }
        .cabecalho h1{
            margin-left: 50%;
        }
.cabecalho{
    background-image: url(./img/psych JH.png);
    height: 300px;
}